
.title {
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 7rem;
  color: white;
  margin-top: 5vh;
  text-align: center;
}

.temp-title {
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 7rem;
  color: white;
}

/*------- NAV STYLES --------- */
#nav {
  width: 100%;
  height: 5vh;
  padding: 50px;
  font-size: 1.2em;
  top: 0;
  text-align: left;
  display: flex;
  gap: 100px;
}

/* .nav-section {
  padding: 10px;
  height: 2.4em;
  overflow: hidden;
} */

.nav-link {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #eddbb4;
  transition: 0.5s;
}

.nav-link:hover {
  letter-spacing: 2px;
  color: #f0d8a6;
}

#home-img {
  width: 1.2em;
  vertical-align: bottom;
  margin-right: 10px;
}