*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
body {
  margin: 0;
  height: 100%;
  bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#4b4a4a, #101010);
  background-repeat: no-repeat;
} 

#index-container {
  min-height: 100vh; 
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
  animation: fade-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transition: 1s;
}


.show{
  display: relative;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}